Service References/ServiceFNS/FNSNDSCAWS_21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.unisoft/FNSNDSCAWS2/Response" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.unisoft/FNSNDSCAWS2/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ИННТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="NdsResponse2">
    <xs:annotation>
      <xs:documentation>Ответ на запрос о контрагентах</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="10000" name="NP">
          <xs:annotation>
            <xs:documentation>Сведения о контрагенте</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="INN" type="tns:ИННТип" use="required">
              <xs:annotation>
                <xs:documentation>ИНН</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="KPP" type="tns:КППТип" use="optional">
              <xs:annotation>
                <xs:documentation>КПП</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DT" type="tns:ДатаТип" use="optional">
              <xs:annotation>
                <xs:documentation>Дата, на которую запрашиваются сведения</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="State" use="required">
              <xs:annotation>
                <xs:documentation>Состояние контрагента:		0 - ИНН+КПП+ДАТА+ Налогоплательщик зарегистрирован в ЕГРН и имел статус действующего в интервале ± 6 дней от даты запроса
1 - ИНН+КПП+ДАТА- Налогоплательщик зарегистрирован в ЕГРН, но не имел статус действующего в интервале ± 6 дней от даты запроса 
2 - ИНН+КПП+ Налогоплательщик зарегистрирован в ЕГРН (в запросе не указана дата)
3 - ИНН+КПП- Несоотвествие КПП указанному в запросе ИНН (дата могла быть указана а могла и быть не указана)
4 - ИНН- Налогоплательщик с указанным ИНН не зарегистрирован в ЕГПН (дата могла быть указана а могла и быть не указана)
	</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0" />
                  <xs:enumeration value="1" />
                  <xs:enumeration value="2" />
                  <xs:enumeration value="3" />
                  <xs:enumeration value="4" />
                  <xs:enumeration value="5" />
                  <xs:enumeration value="6" />
                  <xs:enumeration value="7" />
                  <xs:enumeration value="8" />
                  <xs:enumeration value="9" />
                  <xs:enumeration value="10" />
                  <xs:enumeration value="11" />
                  <xs:enumeration value="12" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DTActUL" type="tns:ДатаТип" use="optional">
        <xs:annotation>
          <xs:documentation>Дата, на которую актуальны данные по ЮЛ, используемые для проверки</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DTActFL" type="tns:ДатаТип" use="optional">
        <xs:annotation>
          <xs:documentation>Дата, на которую актуальны данные по ИП, используемые для проверки</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="errMsg">
        <xs:annotation>
          <xs:documentation>Сообщение об ошибке</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>